.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 350px;
}

.login-form input {
  border-radius: 11px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

.login-form button {
  padding: 15px;
  border-radius: 11px;
  background-color: greenyellow;
  font-size: 20px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 24px;
}
